.AppLayout-header > a {
  color: inherit;
}

nav > .Input-with-icon {
  margin-bottom: var(--style-gap-xxl);
}

nav > .Input-with-icon > input {
  background-color: transparent;
}

nav > .Input-with-icon > cm-icon > svg {
  stroke: var(--color-primary-white);
}

@media screen and (max-width: 640px) {
  #api-key-popup > summary > cm-icon > svg {
    stroke: var(--color-label-default);
  }

  cm-sidebar > .Sidebar-toolbar > article > .Line-h-light {
    display: none;
    visibility: hidden;
  }
}

.Sidebar-toolbar > cm-popup > details {
  height: 32px;
}

.Dialog-api-key {
  max-width: 352px;
}

.Dialog-api-key > div > a {
  text-align: center;
}

.Dialog-api-key > div > form > button {
  width: 100%;
  margin-top: var(--style-gap-l);
}

@media screen and (max-width: 640px) {
  .Dialog-api-key {
    max-width: min(352px, 80vw);
  }
}

main > header {
  display: flex;
  align-items: center;
  gap: var(--style-gap-xl);
}

main > header > h2,
main > header > div:first-child {
  flex: none;
}

main > header > h2,
main > header * h2,
main > header * p {
  margin: 0 !important;
}

main > header > .Line-v-light {
  align-self: stretch;
  height: auto;
}