.AppLayout-main {
  align-items: center;
}

.AppLayout-main > .Line-h-dark {
  max-width: 320px;
}

.AppLayout-main > p {
  text-align: center;
}

.AppLayout-main > form {
  min-width: 640px;
  display: flex;
  gap: var(--style-gap-xl);
}