cm-table thead {
  position: static;
  transform: none;
}

table {
  width: 100%;
}

table.Acl-availability > thead > tr > th:not(:first-child),
table.Acl-availability > tbody > tr > td:not(:first-child) {
  text-align: center;
}

table.Acl-availability > thead > tr > th:nth-child(3) {
  background-color: var(--color-secondary-yellow);
}

table.Acl-availability > thead > tr > th:nth-child(4) {
  background-color: var(--color-primary-dark-purple);
  color: var(--color-primary-white);
}

table.Acl-availability > thead > tr > th:nth-child(4).Missing-key {
  background-color: var(--color-primary-lighter-purple);
  color: var(--color-primary-new-purple);
}

table.Acl-availability > thead > tr > th:nth-child(2),
table.Acl-availability > thead > tr > th:nth-child(3),
table.Acl-availability > thead > tr > th:nth-child(4),
table.Acl-availability > thead > tr > td:nth-child(2),
table.Acl-availability > thead > tr > td:nth-child(3),
table.Acl-availability > thead > tr > td:nth-child(4) {
  width: 258px;
}

table[left-align] > thead > tr > th,
table[left-align] > tbody > tr > td {
  text-align: left !important;
}

cm-coin.Coin-xl {
  margin-right: 20px;
}