.Tabbed-table {
  display: flex;
  flex-direction: column;
  gap: var(--style-gap-xl);
}

.Filter-input {
  width: fit-content;
}

.Filters-row {
  display: flex;
  align-items: center;
  gap: var(--style-gap-xl);
}

.Filters-row-spacer {
  flex-grow: 1;
}

.Empty-results {
  height: 256px;
  display: flex;
  align-items: center;
  gap: var(--style-gap-l);
  margin: auto;
}

.Empty-results > div > .Line-h-dark {
  margin-top: var(--style-gap-n);
  margin-bottom: var(--style-gap-n);
}

section.Error {
  height: 256px;
  display: flex;
  align-items: center;
  gap: var(--style-gap-l);
  margin: auto;
}

@media screen and (max-width: 640px) {
  section.Error {
    height: auto;
    flex-direction: column;
    align-items: center;
  }  
}

section.Error > div {
  max-width: 256px;
}

section.Error > div > .Line-h-dark {
  margin-top: var(--style-gap-n);
  margin-bottom: var(--style-gap-n);
}

.Load-buttons {
  display: flex;
  align-items: center;
  gap: var(--style-gap-xl);
}

.Load-buttons > div {
  flex-grow: 1;
}

@media screen and (max-width: 960px) {
  .Main-header {
    flex-wrap: wrap;
  }

  .Main-header > .Line-v-light {
    display: none;
    visibility: hidden;
  }
}